<html>
<head>
</head>
<body>
<form name="signup" method="post">
<input type="text" name="name" placeholder="enter your name">
<input type="text" name="password" placeholder="enter your password">
<button type="submit">submit</button>
</form>

</body>
</html>